@font-face {
  font-family: 'Junge Regular';
  font-weight: normal;
  font-style: normal;
  src: url('/assets/fonts/junge-regular-webfont.eot');
  src: url('/assets/fonts/junge-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/junge-regular-webfont.woff') format('woff'), url('/assets/fonts/junge-regular-webfont.ttf') format('truetype'), url('/assets/fonts/junge-regular-webfont.svg#jungeregular') format('svg');
}
@font-face {
  font-family: 'PT Serif';
  src: url('/assets/fonts/pt-serif-regular-webfont.eot');
  src: url('/assets/fonts/pt-serif-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/pt-serif-regular-webfont.woff') format('woff'), url('/assets/fonts/pt-serif-regular-webfont.ttf') format('truetype'), url('/assets/fonts/pt-serif-regular-webfont.svg#pt_serifregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu Condensed';
  font-weight: normal;
  font-style: normal;
  src: url('/assets/fonts/ubuntu-c-webfont.eot');
  src: url('/assets/fonts/ubuntu-c-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/ubuntu-c-webfont.woff') format('woff'), url('/assets/fonts/ubuntu-c-webfont.ttf') format('truetype'), url('/assets/fonts/ubuntu-c-webfont.svg#ubuntu_condensedregular') format('svg');
}
