.gist .gist-file {
  border: none !important;
  font-family: $fonts-code !important;

  .gist-data {
    font-size: 12.25px !important;
    background-color: $color-code-background !important;

    table {
      background-color: $color-code-background !important;
      td {
        font-family: $fonts-code;
        font-size: 12.25px;
        line-height: 20px !important;
      }
    }

    .blob-code-inner,
    .blob-num {
      color: #FFFFFF;
    }

    .blob-num {
      &:hover {
        color: #ECAC29 !important;
      }
    }

    .pl-s,
    .pl-pds,
    .pl-s .pl-pse .pl-s1,
    .pl-sr,
    .pl-sr .pl-cce,
    .pl-sr .pl-sre,
    .pl-sr .pl-sra {
      color: #ECAC29 !important;
    }
  }

  .gist-meta {
    display: none !important;
    visibility: hidden;
  }

  .gist-data::-webkit-scrollbar,
  .highlight::-webkit-scrollbar,
  pre::-webkit-scrollbar {
    height: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #363830;
  }

  .gist-data::-webkit-scrollbar-track,
  .highlight::-webkit-scrollbar-track,
  pre::-webkit-scrollbar-track {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: $color-code-background;
  }

  .gist-data::-webkit-scrollbar-thumb:horizontal,
  .highlight::-webkit-scrollbar-thumb:horizontal,
  pre::-webkit-scrollbar-thumb:horizontal {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #6D705F;
  }
}
